/* Aplicar uma cor de fundo e uma imagem de fundo */
body {
  background-color: #f7f7f7;
  /* background-image: url('HMV/REMUSO PLANTAO/static/image/HMV NOTA.png');*/
}

/* Definir a largura máxima do formulário e centralizá-lo na página */
form {
  max-width: 800px;
  margin: 0 auto;
}

/* Dividir o formulário em colunas de 50% */
form > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

form > div > * {
  flex-basis: calc(50% - 10px);
}

/* Alinhar as caixas de seleção com as opções correspondentes */
form input[type="checkbox"] {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

/* Ajustar a altura da textarea */
form textarea {
  height: 150px;
}

/* Adicionar um ícone no título */
form h1:before {
  content: "\f0f6";
  font-family: FontAwesome;
  margin-right: 10px;
}

/* Aplicar um estilo aos botões */
form input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.form-group {
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}
