.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 10px;
}

/* Adicionar um ícone no título */
form h1:before {
  content: "\f0f6";
  font-family: FontAwesome;
  margin-right: 10px;
}

